[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=bulinotes
X-Python-2-Compatible=false
X-Krita-Manual=Manual.html
Name=Buli Notes
Comment=A plugin to easily take notes on a Krita document